MONGO_URI=
PORT=5000
JWT_SECRET=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

NODE_ENV="development"


NOTIFICATION_ENGINE_URL="http://localhost:5001"
NOTIFICATION_SERVICE_KEY=provided_by_notification_api

#get your production standard redis instance from upstash free tier or use local redis
REDIS_URL=

# development urls
API_URL="http://localhost:5000"
CLIENT_URL="http://localhost:5173"
REDIS_DEV_URL="redis://redis:6379"